<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ruggedoutdoors.cleanwater">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To access the location of the user -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.LoginActivity"
            android:label="Clean Water"
            android:theme="@style/AppTheme" />
        <activity android:name=".controller.HomescreenActivity" />
        <activity
            android:name=".controller.RegistrationActivity"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".controller.EditUserActivity"
            android:label="Edit User" />
        <activity
            android:name=".controller.FileReportActivity"
            android:label="File Report" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".controller.MapActivity"
            android:label="Map" />
        <activity
            android:name=".controller.ReportListActivity"
            android:label="@string/title_report_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.ReportDetailActivity"
            android:label="@string/title_report_detail"
            android:parentActivityName=".controller.ReportListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ruggedoutdoors.cleanwater.controller.ReportListActivity" />
        </activity>
        <activity
            android:name=".controller.LogListActivity"
            android:label="@string/title_report_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.LogDetailActivity"
            android:label="@string/title_report_detail"
            android:parentActivityName=".controller.LogListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ruggedoutdoors.cleanwater.controller.LogListActivity" />
        </activity>
        <activity
            android:name=".controller.FilePurityReportActivity"
            android:label="@string/title_activity_file_purity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.PurityReportListActivity"
            android:label="@string/title_purityreport_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.PurityReportDetailActivity"
            android:label="@string/title_purityreport_detail"
            android:parentActivityName=".controller.PurityReportListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ruggedoutdoors.cleanwater.controller.PurityReportListActivity" />
        </activity>
        <activity
            android:name=".controller.GraphActivity"
            android:label="Graph Activity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>