<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ruggedoutdoors.cleanwater">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.LoginActivity"
            android:label="Clean Water"
            android:theme="@style/AppTheme" />
        <activity android:name=".controller.HomescreenActivity" />
        <activity
            android:name=".controller.RegistrationActivity"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".controller.EditUserActivity"
            android:label="Edit User" />
        <activity
            android:name=".controller.FileReportActivity"
            android:label="File Report" />
        <activity
            android:name=".controller.ReportListActivity"
            android:label="@string/title_report_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".controller.ReportDetailActivity"
            android:label="@string/title_report_detail"
            android:parentActivityName=".controller.ReportListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ruggedoutdoors.cleanwater.controller.ReportListActivity" />
        </activity>
    </application>

</manifest>